certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
docutils==0.21.2
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kivymd==0.104.2
MarkupSafe==3.0.1
pillow==10.4.0
Pygments==2.18.0
pypiwin32==223
python-dateutil==2.9.0.post0
pywin32==308
requests==2.32.3
six==1.16.0
SQLAlchemy==1.4.32
urllib3==2.2.3
Werkzeug==2.0.3
