aiosqlite==0.20.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.5.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
docutils==0.18.1
exceptiongroup==1.3.1
fastapi==0.123.7
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
h11==0.16.0
idna==3.3
importlib-metadata==4.11.2
itsdangerous==2.1.1
Jinja2==3.0.3
Kivy==2.2.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.4
kivymd==1.2.0
MarkupSafe==2.1.0
Pillow==9.1.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.11.2
pypiwin32==223
python-dateutil==2.9.0.post0
pywin32==303
requests==2.27.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.44
starlette==0.44.0
typing_extensions==4.13.2
urllib3==1.26.8
uvicorn==0.33.0
Werkzeug==2.0.3
zipp==3.7.0
