certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
docutils==0.18.1
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.2
itsdangerous==2.1.1
Jinja2==3.0.3
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.4
kivymd==0.104.2
MarkupSafe==2.1.0
Pillow==9.1.0
Pygments==2.11.2
pypiwin32==223
pywin32==303
requests==2.27.1
SQLAlchemy==1.4.32
typing-extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
zipp==3.7.0
